@page "/SetStates"
@using EightPuzzle.Components

<h3>Definir estados</h3>
<p>Defina o estados inicial e final do 8 Puzzle.</p>

<div>
    <Card Title="Estado Inicial">
        <PuzzleTable AllowShuffle="true"></PuzzleTable>
    </Card>
    <Card Title="Estado Final">
        <PuzzleTable></PuzzleTable>
    </Card>
</div>